div.row-fluid(ng-init="initDashboard()")
   script(type="text/ng-template", id="myModalContent.html").
        <div>
            <h3> I'm a modal! </h3>
        </div>
        <div>
            coucou
        </div>
        <div>
            <button class="btn btn-primary" ng-click="submitApplication()"> OK </button>
            <button class="btn btn-warning" -click="cancelApplication()"> Cancel </button>
        </div>
   carousel.offset1.span9(interval="4000")
      slide(ng-repeat="item in data.lastJobs", active="item.active")
         div.container.carousel-jobItem
            div.jobDescription
               h1 {{item.title}}
               p.lead {{item.description}}
            p.lead.pull-right {{item.author}}
            a.btn.btn.btn-primary(ng:click="apply(item)") Apply
   div.span11.gridStyle(ng-grid="gridOptions")
   
              