extends layout

block content
   div.container-fluid
        div.row-fluid
           div.span3
              div.well.sidebar-nav
                ul.nav.nav-list
                  li.well.nav-header Sidebar
                  li.active 
                     a(href="#") Link
                  li 
                     a(href="#") Link
                  li 
                     a(href="#") Link
                  li.well.nav-header Sidebar
                  li 
                     a(href="#") Link
                  li 
                     a(href="#") Link
           div.span9
              script(src="/js/lib/angular.min.js")
              script(src="/js/lib/angular-resource.min.js")
              script(src="/js/app/appWelcome.js")
              script(src="/js/controllers/lastJobOffersCtrl.js") 
              div.row-fluid(ng-app="appWelcome", ng-controller="lastJobOffersCtrl")
                 #myCarousel.carousel.slide
                    div.carousel-inner
                       div.item(ng-repeat="item in data.items", ng-class="{'active': $index == 0}")
                          div.container.carousel-jobItem
                                h1 {{item.title}}
                                p.lead {{item.description}}
                                p.lead {{item.author}}
                                a.btn.btn-large.btn-primary(href='#') Apply
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')&lsaquo;
                    a.right.carousel-control(href='#myCarousel', data-slide='next')&rsaquo;
                    div
                       ol.carousel-indicators
                          li(ng-repeat="item in data.items", data-target='#myCarousel', data-slice-to="{{$index}}", ng-class="{'active': $index == 0}")
                 script(src='/js/lib/carouselController.js');