extends layout

block content
   div.container-fluid
        div.row-fluid
           div.span3
              div.well.sidebar-nav
                ul.nav.nav-list
                  li.well.nav-header Sidebar
                  li.active 
                     a(href="#") Link
           div.span9(ng-app="appBacklog", ng-controller="backlogCtrl", ng-init="init()")
              script(type='text/javascript').
                 function showPanel(){$(".backlogPanel").slideToggle();}
              button.btn.btn-primary.pull-left(onclick="showPanel();") Nouvelle tâche
              div.backlogPanel
                  div.span8.offset1
                    form
                       textarea.input-block-level(rows = 10, placeholder='Description de tâche', ng-model="entry.description")
                       select.input-block-level.optional(name='job.category', ng-model="entry.importance")
                          option(value="", disabled, selected) Importance
                          option 1
                          option 2
                          option 3
                          option 4
                    div.btn-toolbar
                       button.btn.btn-primary(onclick="showPanel();", ng-click="create()") Create
                       button.btn(onclick="showPanel();",ng-click="cancel()") Cancel

              div.span12   
                 div.accordion.acordionLog.span8.offset1#accordion2
                    div.accordion-group.accordion-groupLog(ng-repeat="item in data.entries")
                       button.btn.btn-mini.btn-danger.pull-right.buttonLog(ng:click="remove(item)") X
                       div.accordion-heading.accordion-headingLog
                          div.limitWidth
                             a.accordion-toogle(data-toggle="collapse", data-parent="#accordion2", href="#collapse{{$index + 1}}") ({{item.importance}}) {{item.description}}                             
                       div.accordion-body.collapse(id="collapse{{$index + 1}}")
                          div.accordion-inner
                             p {{item.description}}