extends layout

block content
   div.span6.offset3
      h1 Login Test Application
   div.span12
      h2 Test application!
      p This is an test application for the Auth0 platform.
      p Login for :
      script(id='auth0', src='https://sdk.auth0.com/auth0.js#client=' + clientId + '&response_type=token&scope=openid')
      button.btn.btn-success(type='button', onclick='window.Auth0.signIn({onestep: true})') Login