extends layout

block content   
   link(type='text/css', rel='stylesheet', href='/css/backlog.css') 
   div.container-fluid
        div.row-fluid
           div.span3
              div.well.sidebar-nav
                ul.nav.nav-list
                  li.well.nav-header Sidebar
                  li.active 
                     a(href="#") Link
           div.span9(ng-app="appBacklog", ng-controller="backlogCtrl", ng-init="init()")     
              div.row-fluid   
                 button.btn.btn-primary(ng-click="showPanel();") Nouvelle tâche              
              div(collapse="isCollapsed")
                  div.span8.offset1.backlogPanel
                    form.formLog
                       input.input-block-level(type='text', placeholder='Title', ng-model="entry.title")
                       textarea.input-block-level(rows = 10, placeholder='Description de tâche', ng-model="entry.description")
                       select.input-block-level.optional(name='job.category', ng-model="entry.importance")
                          option(value="", disabled, selected) Importance
                          option 1
                          option 2
                          option 3
                          option 4
                       div.btn-toolbar
                          button.btn.btn-primary(ng-click="action()") {{buttonText}}
                          button.btn(ng-click="cancel()") Cancel
              div.searchInput
                 form.form-search
                    span Tri par importance : 
                    input.input-mini.search-query(type="text", ng-model="search.importance") 
              div.span12                    
                 div.accordion.span8.offset1#accordionLog
                    div.accordion-group(ng-repeat="item in data.entries | filter:search")
                       a.btn.btn-mini.btn-danger.pull-right.buttonLog(ng:click="remove(item)") X
                       a.btn.btn-mini.btn-info.pull-right.buttonLog(ng:click="edit(item,$event)") ...                       
                       div.accordion-heading(ng-style="{backgroundColor: styles[item.importance-1].bkcolor, color: styles[item.importance-1].color}")                          
                          a.accordion-toogle(ng-style="{backgroundColor: styles[item.importance-1].bkcolor, color: styles[item.importance-1].color}", data-toggle="collapse", data-parent="#accordionLog", href="#collapse{{$index + 1}}") ({{item.importance}}) {{item.title}}                      
                       div.accordion-body.collapse(id="collapse{{$index+1}}")
                          div.accordion-inner                             
                             p {{item.description}}     
