extends layout

block content
   div.container-fluid
        div.row-fluid
           div.span3
              div.well.sidebar-nav
                ul.nav.nav-list
                  li.well.nav-header Sidebar
                  li.active 
                     a(href="#") Link
                  li 
                     a(href="#") Link
                  li 
                     a(href="#") Link
                  li.well.nav-header Sidebar
                  li 
                     a(href="#") Link
                  li 
                     a(href="#") Link
           div.span9
              script(src="/js/lib/angular.min.js")
              script(src="/js/lib/angular-resource.min.js")
              script(src="/js/app/appWelcome.js")
              script(src="/js/controllers/lastJobOffersCtrl.js") 
              div.row-fluid(ng-app="appWelcome", ng-controller="lastJobOffersCtrl")
                 #myCarousel.carousel.slide
                    div.carousel-inner
                       div.item(ng-repeat="item in data.items", ng-class="{'active': $index == 0}")
                          div.container.carousel-jobItem
                                h1 {{item.title}}
                                p.lead {{item.description}}
                                p.lead {{item.author}}
                                a.btn.btn-large.btn-primary(href='#') Apply
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')&lsaquo;
                    a.right.carousel-control(href='#myCarousel', data-slide='next')&rsaquo;
                    div
                       ol.carousel-indicators
                          li(ng-repeat="item in data.items", data-target='#myCarousel', data-slice-to="{{$index}}", ng-class="{'active': $index == 0}")
                 script(src='/js/lib/carouselController.js');
              ul
                 li Merge de home et profile ?
                 li Ajout d'une vue dans le profile pour  ne pas avoir l'update du profile tout de suite, mais plutôt cette page-ci ou la liste des offres postées
                 li Ajouter dans le home la possibilité de chercher dans la BD selon divers critères et afficher les résultats par pages de 10-25-50...
                 li Ajouter au modèle de profile : applications
                 li Ajouter un modèle d'applications (ou submissions comme je l'ai appelé pour l'instant)
                 li Franciser TOUT
                 li Pour l'ajout d'une nouvelle offre, plutôt que de le faire dans une page différente, le faire dans la même page avec une animation de fade down ou de quoi du genre. 
                 li Voir quoi faire avec le menu ici...?
                 li Revoir le design des offres (size text, champs présents...)
                 li Bug d'affichage des offres. Quand on clique sur une offre, elle ne s'affiche pas tout de suite, il faut cliquer une seconde fois. Cf: l'URL change.
                    