div.row-fluid 
   div(ng-init="initMyApplications()")  
      accordion.span8.offset1(close-others="true")
         accordion-group(ng-repeat="item in data.myApplications", heading="{{item.job.title}}")
            accordion-heading
               {{item.job.title}}
               i.pull-right.icon-remove-circle.removeButton(ng:click="remove(item)")
            p {{item.job.description}}
            hr
            h1 Ma proposition 
            p {{item.proposal}}
            hr
            p Salaire demande: {{item.salary}}
            div
               i.icon-calendar.calendar
               | Ma date proposée {{item.dueDate | date:'d MMMM yyyy'}}
            div
               i.icon-calendar.calendar       
               | Date proposée du job {{item.job.dueDate | date:'d MMMM yyyy'}}