!!! 5
html
   head
    title P'tites Jobs  
    
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(type='text/css', rel='stylesheet', href='/css/jquery-ui-1.10.3.custom.min.css') 
    link(type='text/css', rel='stylesheet', href='/css/ng-grid.css')
    link(type='text/css', rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/overcast/jquery-ui.css')
    link(type='text/css', rel='stylesheet', href='/css/site.css')         
    script(src='/js/lib/jquery-2.0.3.js'); 
    script(src="/js/lib/jquery-ui-1.10.3.custom.min.js");    
    script(src="http://code.angularjs.org/1.2.2/angular.js")
    script(src="http://code.angularjs.org/1.2.2/angular-sanitize.js")
    script(src="http://code.angularjs.org/1.2.2/angular-resource.js")
    script(src="http://code.angularjs.org/1.2.2/angular-route.js")
    script(src="/js/lib/spin.min.js")
    script(src="/js/lib/bootstrap.js")
    script(src="/js/lib/ng-grid-2.0.7.min.js")
    script(src="/js/lib/ui-bootstrap-tpls.js")
    script(src="/js/app/appProfile.js")
    script(src="/js/app/appWelcome.js")
    script(src="/js/app/appBacklog.js")
    script(src="/js/app/appListMariage.js")    
    script(src="/js/controllers/navBarCtrl.js")
    script(src="/js/controllers/backlogCtrl.js")
    script(src="/js/controllers/listMariageCtrl.js")
    script(src="/js/controllers/jobOfferCtrl.js")
    script(src="/js/controllers/lastJobOffersCtrl.js")               
    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
       div.navbar-inner
         div.container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
               span.icon-bar
               span.icon-bar
               span.icon-bar
            a.brand(href='/') P'tites Jobs
            div.nav-collapse.collapse
              ul.nav
                 if !user
                    -var menu = {'items': [{'title':'Home', 'route':'home'}]}
                 else
                    -var menu = {'items': [{'title':'Home', 'route':'home'}, {'title':'Dashboard', 'route':'profile'}, {'title':'Liste de Mariage', 'route':'mariage'}]}
                 each menuItem in menu.items
                    if (id == menuItem.Title)
                      li.active
                        a(href='/#{menuItem.route}') #{menuItem.title}
                    else            
                      li
                        a(href='/#{menuItem.route}') #{menuItem.title}
            if !user        
               div.btn-toolbar.pull-right
                  a.btn.btn-primary(href='login', type='button') Log in
                  a.btn.btn-primary(href='register', type='button') Register
            else
               a.btn.btn-primary.pull-right(href='logout', type='button') Log out         
      
    block content