extends layout

block content
   script(src="/js/lib/angular.min.js")
   script(src="/js/lib/angular-resource.min.js")
   script(src="/js/app/appProfile.js")
   script(src="/js/controllers/navBarCtrl.js")
   div.container-fluid(ng-app="appProfile")
      div.row-fluid
         div.span3(ng-controller="navBarCtrl")
           div.well.sidebar-nav
             ul.nav.nav-list
               li.well.nav-header 
                  = 'My Profile (' +  user.username + ')'
               li(ng-class="{ active: isActive('/profile')}") 
                  a(href="/profile") Update profile
               li.divider
               li.well.nav-header My Jobs
               li(ng-class="{ active: isActive('/offers')}") 
                  a(href="/offers") Offers                  
               li(ng-class="{ active: isActive('/submissions')}") 
                  a(href="/submissions") Submissions
         div.span9(ng-view)                        