div.row-fluid
      form.form-horizontal.span10.offset1(ng-init="initUpdateProfile()")
                  h2.well.well-small.
                     My Profile ({{data.profile.username}})
                  div.control-group
                     label.control-label(for='username') Username: 
                     div.controls
                        input.input-block-level.span10#username(type='text', name='username', ng-model="data.profile.username") 
                  div.control-group
                     label.control-label(for='email') Email: 
                     div.controls
                        input.input-block-level.span10#email(type='email', name='email', ng-model="data.profile.email")
                  div.control-group
                     label.control-label(for='age') Age: 
                     div.controls
                        input.input-block-level.span10#age(type='text', name='age', ng-model="data.profile.age")
                  div.control-group
                     label.control-label(for='address') Address: 
                     div.controls
                        input.input-block-level.span10#address(type='text', name='address', ng-model="data.profile.address")
                  div.control-group
                     label.control-label(for='city') City: 
                     div.controls
                        input.input-block-level.span10#city(type='text', name='city', ng-model="data.profile.city")
                  div.control-group
                     label.control-label(for='zipcode') Zip-Code: 
                     div.controls
                        input.input-block-level.span10#zipcode(type='text', name='zipcode', ng-model="data.profile.zipcode")                    
                  div.btn-toolbar
                     button.btn.btn-small.btn-primary(ng-click="updateProfile()") Save
                     button.btn.btn-small(type='button', onClick="window.location='/profile';") Cancel
                     {{data.updateStatus}}