!!! 5
html
   head
    title P'tites Jobs    
    
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(type='text/css', rel='stylesheet', href='/css/welcome.css')       
    script(src='/js/lib/jquery-2.0.3.js'); 
    script(src='/js/lib/bootstrap.js');
    
  body
     div.navbar.navbar-static-top
       div.navbar-inner
         div.container
            a.brand(href='/') P'tites Jobs
     div.preambule
        div.container
           div.row                 
                    div.span6
                       h1 Facile Rapide
                       h2 Le site pour te trouver une jobine!
                       if !user
                          div.row.controlButtons.login
                             a.btn.btn-large(href='login', type='button') Log In
                          div.row.controlButtons
                             a.btn.btn-primary.btn-large.signup(href='register', type='button') Sign Up
                       else
                          div.row.controlButtons.login
                             a.btn.btn-large(href='home', type='button') Enter
                    div.span6
                       script(src="/js/lib/angular.min.js")
                       script(src="/js/lib/angular-resource.min.js")
                       script(src="/js/app/appWelcome.js")
                       script(src="/js/controllers/lastJobOffersCtrl.js") 
                       div.row-fluid(ng-app="appWelcome", ng-controller="lastJobOffersCtrl")
                          #myCarousel.carousel.slide
                             div.carousel-inner
                                div.item(ng-repeat="item in data.items", ng-class="{'active': $index == 0}")
                                   div.container.carousel-jobItem
                                      div.jobDescription
                                         h1 {{item.title}}
                                         p.lead {{item.description}}
                                         p.lead {{item.user.username}}
                                      if user
                                         a.btn.btn-primary(href='#') Apply
                             a.left.carousel-control(href='#myCarousel', data-slide='prev')&lsaquo;
                             a.right.carousel-control(href='#myCarousel', data-slide='next')&rsaquo;
                             div
                                ol.carousel-indicators
                                   li(ng-repeat="item in data.items", data-target='#myCarousel', data-slice-to="{{$index}}", ng-class="{'active': $index == 0}")
                          script(src='/js/lib/carouselController.js');
                       img(src="/images/job-seeking.png")